body{
    background-color: black;
}
h1{
    font-size: 60px;
    color:white;
    margin-right:60%;
    margin-bottom: -3px;
    margin-left: 30px;
}
p{
    color: #BDBDBD;
    margin-right:70% ;
    margin-left:30px ;
    margin-bottom:30px ;
}
#text{
    font-family: 'Raleway', sans-serif;
}
button{
    margin-bottom: 10px;
    margin-left:30px ;
   background-color: #2B892E;
   color: white;
   border-radius: 15px;
   border-width: 0;
   height: 35px;
   width: 110px;
}
img{
    width: 55%;
    height: auto;
    margin: 30px;
}